body {
	background-color: #EAF0F2;
}

.breadCrumb {
	padding: 24px 0;
}

.breadCrumb .ui-breadcrumb ul li[role="menuitem"] a.ui-menuitem-link {
	text-decoration: none;
	font-size: 0.8em;
	line-height: 1.3;
}
.breadCrumb .ui-breadcrumb ul li[role="menuitem"] a.ui-menuitem-link:hover {
	color: #2f556a;
}

.commandColumn {
	width: 100px;
}

.commandButton {
	margin: 0 auto;
	display: block;
}

.ui-datatable tbody td span[title="true"] {
	font-weight: bold;
}